<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacedevs</title>
  <style>
    .btn-red {
      background-color: red;
      color: white;
    }
    .red {
      color: red;
    }
  </style>
</head>
<body>

  <div id="app">
    <div>
      {{ message }}
    </div>
    <div v-if="user.admin">
      <botao />
    </div>
    <div v-else>
      <p class="red">Está opção é somente para administrador do site.</p>
    </div>
    <div>
      <ol>
        <li v-for="tweet in tweets" v-bind:key="tweet.id">
          {{ tweet.message }}
        </li>
      </ol>
    </div>
    <div>
      <input type="text" v-model="user.name">
      {{ user.name }}
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('botao', {
      template: "<button>Meu Botao</button>"
    })

    new Vue({
      el: "#app",
      data: {
        message: "Bem-vindo ao canal da Spacedevs no Youtube :)", // Getter e um Setter
        check: false,
        user: {
          name: "Marcus Pereira",
          admin: false
        },
        tweets: [
          {
            id: 1,
            message: "Hora do recreio!"
          },
          {
            id: 2,
            message: "Hora de ir dormir!"
          },
          {
            id: 3,
            message: "Comprar um sorvete na barraca do seu João."
          }
        ]
      }
    })
  </script>
</body>
</html>